<!doctype html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>美价网--chenwb</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap-grid.css">
</head>
<body>
<div>
    <div class="row offset-5">
        <div class="page-header">
            <h1>好用的商品比价网站</h1>
        </div>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="offset-3">
                <label class="col-sm-3 control-label" for="keyword">商品搜索</label>
                <div class="col-sm-8 form-inline">
                    <input type="text" class="form-control col-sm-10" id="keyword" placeholder="请输入商品关键词">
                    <input type="button" class="btn btn-primary col-sm-2" id="search" value="搜索">
                </div>
                <div class="col-sm-4 form-inline">

                </div>
            </div>
        </div>
    </form>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/display/index.js"></script>
</body>

</html>